<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="{{ site.description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <!-- TODO: find out which is best between the prepend above and below. -->
    <link rel="stylesheet" href="{{ site.github.url }}/css/normalize.css" />
    <link rel="stylesheet" href="{{ site.github.url }}/css/solo.css" />
    <!-- TODO: move styles in normallize solo into main via sass -->
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <link rel="canonical" href="{{ site.ull }}" />
  </head>
  <body>
    <article>
     <div class="container">
      {{ content }}
      </div>
    </article>
  </body>
</html>

